# test files
test.m4a

# env files
gptnotes-299ac-firebase-adminsdk-3eg2j-53e6a898a0.json
gptnotes-396604-4e722d608b41.json
client_secret_409900237892-b8n1rsm70h4385fbj79q8b2lt29e05t2.apps.googleusercontent.com.json
mycreds.json

# code files
config.py

# folders
uploads/
results/
audio_process/