# test files
test.m4a

# env files
gptnotes-299ac-firebase-adminsdk-3eg2j-53e6a898a0.json
gptnotes-396604-4e722d608b41.json
mycreds.json
token.json
client_secret_409900237892-pjmrm53g9fvndop7n662qb8054m4lvd6.apps.googleusercontent.com.json
active_transcript.json

# code files
config.py

# folders
uploads/
results/
audio_process/